html {
  background: linear-gradient(-45deg, #4c5066, #15161c);
  background: -webkit-linear-gradient(-45deg, #4c5066, #15161c);
  background: -moz-linear-gradient(-45deg, #4c5066, #15161c);
  height: 100%;
  font-family: 'Inconsolata', monospace;
}

.title {
  margin-top: 100px;
  margin-bottom: 20px;
  font-size: 74px;
  text-align: center;
  color: #ddd;
}

.board {
  margin: 0 auto;
  background-color: #555;
  width: 500px;
  height: 500px;
  border: 1px solid #222;
  display: flex;
  flex-wrap: wrap;
}

.board * {
  box-sizing: border-box;
}

.square-container {
  border: 1px solid #222;
}

.square {
  width: 98px;
  height: 98px;
  border: 1px solid #222;
  background-color: #c49c25;
  -webkit-transition: .1s;
  transition: .1s;
}

.flipped {
  background-color: #844040;
}

.flip-in {
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
}

.flip-out {
  background-color: #844040;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.flip-out.flipped {
  background-color: #c49c25;
}
