/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**************************************************/

* {
  font-family: 'Inconsolata', monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  background: linear-gradient(-45deg, #4c5066, #050505);
  background: -webkit-linear-gradient(-45deg, #4c5066, #050505);
  background: -moz-linear-gradient(-45deg, #4c5066, #050505);
  min-height: 100%;
  font-family: 'Inconsolata', monospace;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  cursor: default;
}

.title {
  margin-top: 30px;
  margin-bottom: 15px;
  font-size: 74px;
  text-align: center;
  color: #ddd;
}

.instructions-button-container {
  width: 500px;
  position: relative;
  /*height: 0;*/
  margin: 0 auto;
}

.instructions-button {
  cursor: pointer;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 5px;
  right: 5px;
  z-index: 1;
  text-align: center;
  line-height: 20px;
  font-size: 18px;
  font-weight: 900;
  color: #4c5066;
  border: 3px solid #4c5066;
  border-radius: 50%;
}

.instructions-button:hover {
  color: #7987af;
  border: 3px solid #7987af;
}

.instructions-container {
  position: absolute;
  z-index: 2;
}

.instructions-message {
  width: 500px;
  height: 500px;
  padding-top: 50px;
  font-size: 40px;
  text-align: center;
  color: #f5f5f5;
}

.win-message {
  position: absolute;
  font-size: 74px;
  text-align: center;
  color: #f5f5f5;
  top: 210px;
}

.board {
  position: relative;
  margin: 0 auto;
  background-color: #555;
  width: 500px;
  height: 500px;
  border: 1px solid #222;
  display: flex;
  flex-wrap: wrap;
}

.board * {
  box-sizing: border-box;
}

.square-container {
  border: 1px solid #222;
}

.square {
  width: 98px;
  height: 98px;
  border: 1px solid #222;
  background-color: #c49c25;
  -webkit-transition: .1s;
  transition: .1s;
}

.flipped {
  background-color: #844040;
}

.flip-in {
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
}

.flip-out {
  background-color: #844040;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.flip-out.flipped {
  background-color: #c49c25;
}

/* FOOTER */

.name {
  font-family: 'Inconsolata', monospace;
  padding-top: 20px;
  font-size: 22px;
  text-align: center;
  color: #7987af;
}

.about-me {
  width: 300px;
  margin: auto;
  margin-bottom: 100px;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  color: #7987af;
  font-size: 18px;
  line-height: 20px;
}

.about-me a {
  display: flex;
  font-family: 'Inconsolata', monospace;
}

.about-me .fa {
  text-align: center;
  min-width: 22px;
}

.about-me a:hover {
  color: #9ba7c9;
}

.about-me a:hover .fa {
  font-size: 19px;
}
